html{
    font-size: 14px;
}
body, html,p,ul,li{
    margin:0;padding:0;
}
a{text-decoration: none;}
li{list-style: none;}
strong{font-weight: normal;}
body{
    background:#fff;
    font-size: 14px;line-height: 1.2em;color:#fff; font-family: Helvetica,HelveticaNeue,'Droid Sans',Arial,Verdana,serif,'Heiti SC',Droidsansfallback;} 
.container{
    max-width: 640px;
    margin:0 auto;
    position: relative;
    background:#340C69;
}
.user-information{
	background-image: radial-gradient(50% 73%, #2D009D 46%, #350969 97%);
}
.user-information a{
	color: #fff;
	text-decoration: none;
}
.information{
	padding-top: 16px;
    padding-right: 10px;
}

.information p{
	line-height: 1.5em;
}

.information img{
	width:1.388889rem;
	height:1.388889rem;
	float:left;
	margin-left:2.333333rem;
	margin-right: 0.333333rem;
	border-radius: 50%;
}

.information .name{
	font-size: 0.444444rem;
	margin-top:0.111111rem;
	width:3.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-information .coin-box{
	margin:0 auto;
	width:6.888889rem;
	height: 4.444444rem;
	position: relative;
	margin-top:0.416667rem;
	margin-bottom: 0.222222rem;
}
.free-coins{
	position: absolute;
    left: 1.01rem;
    top: 1.75rem;
    font-size:  0.8rem;
	color: white;
	line-height: 1em;
}
.coins-num{
    position: absolute;
    left: 1.81rem;
    top: 2.6rem;
    font-size: 0.6rem;
    color: white;
    /*text-shadow: 0 2px 4px rgba(0,0,0,0.50);*/
    line-height: 1em;
}

.user-information .box-img{
	display: block;
	margin:0 auto;
	width:6.888889rem;
	height: 4.444444rem;

}
.introduce{
	font-size:0.388889rem;
	text-align: center;line-height: 0.416667rem;
	margin-top:0.194444rem;
	margin-bottom:0.555556rem;
	padding:0 0.972222rem 0 0.972222rem;
}
.user-information .get{
	display: block;
	width:6.222222rem;
	height: 1.111111rem;
	border-radius: 2.777778rem;
	/*background:rgba(255,66,255,1);*/
	/*background-image: radial-gradient(50% 73%, #FF974D 46%, #FF3C67 97%);*/
	background: linear-gradient( #FF974D, #FF3C67);
	font-size:0.444444rem;
	line-height:1.111111rem;
	text-align: center;
	margin:0 auto;
	color:#fff;
}
.cover-image .title_bg{
	width:6.333333rem;
	height:1.944444rem;
	margin:0 auto;
	background-size: cover;
}

.title_bg2 p {
    line-height: 0.644444rem;
    text-align: center;
    font-size: 0.396667rem;
    font-weight: bold;
    margin-top: -0.399rem;
    margin-left: 0.50rem;
    margin-right: 0.50rem;
}
.title_bg3 p {
	 line-height: 0.944444rem;
    font-size: 0.396667rem;
    text-align: center;
    font-weight: bold;
    padding-right: 6.6999rem;
}
.cover-image .title_bg p{
	line-height: 1.944444rem;
	text-align: center;
	font-size: 0.416667rem;font-weight: bold;

}
.cover-image .content{
	opacity:  0.9;
	font-size: 0.388889rem;
	color: #FFFFFF;
	line-height: 0.5rem;
	text-align: left;
	padding:0 0.416667rem 1.111111rem 0.416667rem;
}

.cover-image .content p{ 
	margin-left: 0.50rem;
    margin-right: 0.50rem;
    margin-bottom: 0.30rem;
}

    .fun-cover{
    width: 100%;
    overflow: hidden;
    margin-top: -0.39rem;
}
 .fun-cover img{
    width: 100%;
    object-fit: contain;
}











